html,
body {
  width: 100%;
  height: 100%;
}
body,
div,
p,
a,
i,
ul,
li,
input,
h3,
textarea,
b {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  font-weight: normal;
}
body {
  font-size: 0.37333333rem;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
input,
select,
option {
  outline-style: none;
  border: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* 多行溢出 */
.txt-cut {
  overflow: hidden;
  /* 溢出文本显示省略号 */
  text-overflow: ellipsis;
  display: -webkit-box;
  /* 设置内容 2 行 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.one-txt-cut {
  /* 1. 规定段落中的文本不换行 */
  white-space: nowrap;
  /* 2. 溢出隐藏 */
  overflow: hidden;
  /* 3. 溢出文本, 显示省略号 */
  text-overflow: ellipsis;
}
.mmm_container {
  width: 10rem;
  background-color: #f1f1f1;
  margin: 0 auto;
  min-width: 320px;
}
/*头部区域*/
.mmm_header {
  height: 1.33333333rem;
  width: 100%;
  background-color: #ff841d;
  overflow: hidden;
  position: relative;
}
.mmm_header .logo {
  width: 4.94666667rem;
  height: 0.66666667rem;
  background: url(../images/header_logo.png) center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 0.26666667rem;
  transform: translateY(-50%);
}
.mmm_header .download {
  width: 0.90666667rem;
  height: 0.90666667rem;
  background: url(../images/header_app.png) center center no-repeat;
  position: absolute;
  background-size: 100% 100%;
  right: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
}
/* 搜索区域 */
.mmm_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: #fff;
  padding: 0.29333333rem 0.26666667rem;
}
.mmm_search .sear {
  float: right;
  width: 1.70666667rem;
  height: 0.8rem;
  background-color: #ff841d;
  border-radius: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.45333333rem;
}
.mmm_search .sear a {
  color: #fff;
}
.mmm_search .input {
  width: 7.54666667rem;
  height: 0.8rem;
}
.mmm_search .input input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 0.32rem;
  padding-left: 0.4rem;
}
/* 登录注册区域 */
.mmm_register {
  height: 0.90666667rem;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f1f1f1;
}
.mmm_register a {
  float: left;
  width: 33.3333%;
  height: 0.90666667rem;
  border-right: 1px solid #c5c5c5;
  text-align: center;
  line-height: 0.90666667rem;
  font-size: 0.34666667rem;
  color: #30230f;
}
.mmm_register .returnTop {
  border: none;
  background: url(../images/top.jpg) 0.26666667rem center no-repeat;
}
/* 底部注册区域 */
.mmm_footer {
  padding-top: 0.45333333rem;
  height: 1.70666667rem;
}
.mmm_footer .app {
  text-align: center;
}
.mmm_footer .app span:nth-child(1) {
  color: red;
}
.mmm_footer .app span:nth-child(2) {
  color: #30230f;
}
.mmm_footer .app span:nth-child(2) {
  color: #c5c5c5;
}
.mmm_footer .net {
  text-align: center;
}
.mmm_container {
  background-color: #f7f7f7;
}
/* header区域 */
.mmm_header {
  background-color: #f4483e;
}
.mmm_header .info {
  color: #fff;
  font-size: 0.56rem;
  line-height: 1.33333333rem;
  text-align: center;
  font-weight: 700;
}
.mmm_header i {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.33333333rem;
  position: absolute;
  left: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
}
/* title区域 */
.mmm_title {
  height: 1.06666667rem;
  background-color: #fff;
  margin-bottom: 0.13333333rem;
  overflow: hidden;
  padding-left: 0.13333333rem;
}
.mmm_title ul {
  overflow: hidden;
}
.mmm_title ul li {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  font-size: 0.34666667rem;
  padding: 0 0.33333333rem;
  float: left;
}
.mmm_title ul li:first-child {
  margin-left: 0;
}
.mmm_title ul li:last-child {
  margin-right: 0;
}
.mmm_title ul li a {
  height: 1.06666667rem;
  border-bottom: 3px solid transparent;
  color: #252117;
}
.mmm_title ul li a.active {
  border-bottom: 3px solid #f4483e;
  color: #f4483e;
}
/* 商品区域 */
.mmm_goodList {
  width: 100%;
}
.mmm_goodList ul {
  padding: 0.26666667rem 0;
}
.mmm_goodList ul li {
  background-color: #fff;
  padding: 0 0.13333333rem 0.26666667rem;
  height: 100%;
  position: relative;
  margin-bottom: 0.26666667rem;
}
.mmm_goodList ul li .goodPic {
  width: 3.46666667rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10 / base;
  margin-right: 0.13333333rem;
}
.mmm_goodList ul li .goodInfo {
  padding-left: 3.73333333rem;
  height: 100%;
}
.mmm_goodList ul li .goodInfo a {
  height: 1.17333333rem;
  font-size: 0.37333333rem;
  color: #252117;
}
.mmm_goodList ul li .goodInfo .cutPrice span {
  font-size: 0.53333333rem;
  color: red;
}
.mmm_goodList ul li .goodInfo .cutPrice span i {
  font-size: 0.42666667rem;
  font-style: normal;
  display: inline;
}
.mmm_goodList ul li .goodInfo .cutPrice span em {
  color: red;
  font-style: normal;
  font-size: 0.42666667rem;
}
.mmm_goodList ul li .goodInfo .cutPrice span del {
  color: #b2b1b0;
  font-size: 0.26666667rem;
}
.mmm_goodList ul li .goodInfo .bar {
  height: 0.4rem;
  margin: 0.13333333rem 0 0.26666667rem 0;
  position: relative;
}
.mmm_goodList ul li .goodInfo .bar a {
  height: 0.4rem;
  width: 2.26666667rem;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid red;
  border-radius: 0.2rem;
}
.mmm_goodList ul li .goodInfo .bar i {
  height: 0.4rem;
  width: 1.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  border-radius: 0.2rem;
  text-align: center;
}
.mmm_goodList ul li .goodInfo .bar i span {
  color: #fff;
  font-style: normal;
  line-height: 0.4rem;
  height: 0.4rem;
  display: block;
  font-size: 0.32rem;
}
.mmm_goodList ul li .goodInfo .bar b {
  text-indent: 2.66666667rem;
  height: 0.4rem;
  line-height: 0.4rem;
  color: red;
}
.mmm_goodList ul li .goodInfo .bar .quan .hundred {
  width: 2.21333333rem;
  height: 0.64rem;
}
.mmm_goodList ul li .goodInfo .quan {
  height: 0.77333333rem;
  overflow: hidden;
}
.mmm_goodList ul li .goodInfo .quan a {
  height: 0.77333333rem;
  font-size: 0.34666667rem;
  line-height: 0.77333333rem;
  text-align: center;
}
.mmm_goodList ul li .goodInfo .quan a:nth-child(1) {
  float: left;
  width: 2.85333333rem;
  border: 1px dashed red;
  color: red;
}
.mmm_goodList ul li .goodInfo .quan a:nth-child(2) {
  float: right;
  width: 1.6rem;
  background-color: red;
  color: #fff;
  border-radius: 0.13333333rem;
}
/* footer区域 */
.mmm_footer {
  background-color: #f1f1f1;
}
