html,
body {
  width: 100%;
  height: 100%;
}
body,
div,
p,
a,
i,
ul,
li,
input,
h3,
textarea,
b {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  font-weight: normal;
}
body {
  font-size: 0.37333333rem;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
input,
select,
option {
  outline-style: none;
  border: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* 多行溢出 */
.txt-cut {
  overflow: hidden;
  /* 溢出文本显示省略号 */
  text-overflow: ellipsis;
  display: -webkit-box;
  /* 设置内容 2 行 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.one-txt-cut {
  /* 1. 规定段落中的文本不换行 */
  white-space: nowrap;
  /* 2. 溢出隐藏 */
  overflow: hidden;
  /* 3. 溢出文本, 显示省略号 */
  text-overflow: ellipsis;
}
.mmm_container {
  width: 10rem;
  background-color: #f1f1f1;
  margin: 0 auto;
  min-width: 320px;
}
/*头部区域*/
.mmm_header {
  height: 1.33333333rem;
  width: 100%;
  background-color: #ff841d;
  overflow: hidden;
  position: relative;
}
.mmm_header .logo {
  width: 4.94666667rem;
  height: 0.66666667rem;
  background: url(../images/header_logo.png) center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 0.26666667rem;
  transform: translateY(-50%);
}
.mmm_header .download {
  width: 0.90666667rem;
  height: 0.90666667rem;
  background: url(../images/header_app.png) center center no-repeat;
  position: absolute;
  background-size: 100% 100%;
  right: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
}
/* 搜索区域 */
.mmm_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: #fff;
  padding: 0.29333333rem 0.26666667rem;
}
.mmm_search .sear {
  float: right;
  width: 1.70666667rem;
  height: 0.8rem;
  background-color: #ff841d;
  border-radius: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.45333333rem;
}
.mmm_search .sear a {
  color: #fff;
}
.mmm_search .input {
  width: 7.54666667rem;
  height: 0.8rem;
}
.mmm_search .input input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 0.32rem;
  padding-left: 0.4rem;
}
/* 登录注册区域 */
.mmm_register {
  height: 0.90666667rem;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f1f1f1;
}
.mmm_register a {
  float: left;
  width: 33.3333%;
  height: 0.90666667rem;
  border-right: 1px solid #c5c5c5;
  text-align: center;
  line-height: 0.90666667rem;
  font-size: 0.34666667rem;
  color: #30230f;
}
.mmm_register .returnTop {
  border: none;
  background: url(../images/top.jpg) 0.26666667rem center no-repeat;
}
/* 底部注册区域 */
.mmm_footer {
  padding-top: 0.45333333rem;
  height: 1.70666667rem;
}
.mmm_footer .app {
  text-align: center;
}
.mmm_footer .app span:nth-child(1) {
  color: red;
}
.mmm_footer .app span:nth-child(2) {
  color: #30230f;
}
.mmm_footer .app span:nth-child(2) {
  color: #c5c5c5;
}
.mmm_footer .net {
  text-align: center;
}
.mmm_container {
  background-color: #fff;
}
/* header区域 */
.mmm_header .info {
  color: #fff;
  font-size: 0.56rem;
  line-height: 1.33333333rem;
  text-align: center;
  font-weight: 700;
}
.mmm_header i {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.33333333rem;
  position: absolute;
  left: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
}
/* 商品区域 */
.mmm_goodList .list ul li {
  height: 3.46666667rem;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  padding-left: 3.12rem;
}
.mmm_goodList .list ul li .goodPic {
  width: 3.12rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.4rem;
}
.mmm_goodList .list ul li .goodInfo {
  width: 100%;
  height: 3.46666667rem;
  padding: 0.45333333rem 0.37333333rem;
}
.mmm_goodList .list ul li .goodInfo .p {
  height: 1.84rem;
  color: #252117;
  font-size: 0.37333333rem;
}
.mmm_goodList .list ul li .goodInfo .p a {
  color: #252117;
}
.mmm_goodList .list ul li .goodInfo .p .pinkage {
  color: #ff841d;
}
.mmm_goodList .list ul li .goodInfo div {
  color: #b2b1b0;
}
.mmm_goodList .list ul li .goodInfo div .page {
  float: right;
}
/* 分页*/
.mmm_page {
  position: relative;
  height: 0.96rem;
  margin-bottom: 0.66666667rem;
}
.mmm_page .prev {
  position: absolute;
  width: 2.21333333rem;
  height: 0.90666667rem;
  left: 0.56rem;
  border-radius: 0.13333333rem;
  box-shadow: -2px 2px 5px 2px #cccccc;
  font-size: 0.37333333rem;
  color: #252117;
  line-height: 0.90666667rem;
  text-align: center;
}
.mmm_page .next {
  position: absolute;
  width: 2.21333333rem;
  height: 0.90666667rem;
  right: 0.56rem;
  box-shadow: -2px 2px 5px 2px #cccccc;
  border-radius: 0.13333333rem;
  font-size: 0.37333333rem;
  color: #252117;
  line-height: 0.90666667rem;
  text-align: center;
}
.mmm_page .page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #b8b8b8;
}
.mmm_page .page .icon {
  background-color: #e1e1e1;
  width: 0.45333333rem;
  height: 0.88rem;
  border: 1px solid #c4c4c4;
  position: absolute;
  line-height: 0.88rem;
  text-align: center;
  top: 0.01333333rem;
  right: 0;
}
.mmm_page .page select {
  width: 2.21333333rem;
  height: 0.90666667rem;
  font-size: 0.46666667rem;
  text-align: center;
  padding-left: 0.26666667rem;
  -webkit-appearance: none;
}
.mmm_page .page select option {
  width: 2.21333333rem;
  height: 0.90666667rem;
  font-size: 0.4rem;
  text-align: center;
  display: block;
}
.mmm_footer {
  background-color: #f1f1f1;
}
