html,
body {
  width: 100%;
  height: 100%;
}
body,
div,
p,
a,
i,
ul,
li,
input,
h3,
textarea,
b {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  font-weight: normal;
}
body {
  font-size: 0.37333333rem;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
input,
select,
option {
  outline-style: none;
  border: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* 多行溢出 */
.txt-cut {
  overflow: hidden;
  /* 溢出文本显示省略号 */
  text-overflow: ellipsis;
  display: -webkit-box;
  /* 设置内容 2 行 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.one-txt-cut {
  /* 1. 规定段落中的文本不换行 */
  white-space: nowrap;
  /* 2. 溢出隐藏 */
  overflow: hidden;
  /* 3. 溢出文本, 显示省略号 */
  text-overflow: ellipsis;
}
.mmm_container {
  width: 10rem;
  background-color: #f1f1f1;
  margin: 0 auto;
  min-width: 320px;
}
/*头部区域*/
.mmm_header {
  height: 1.33333333rem;
  width: 100%;
  background-color: #ff841d;
  overflow: hidden;
  position: relative;
}
.mmm_header .logo {
  width: 4.94666667rem;
  height: 0.66666667rem;
  background: url(../images/header_logo.png) center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 0.26666667rem;
  transform: translateY(-50%);
}
.mmm_header .download {
  width: 0.90666667rem;
  height: 0.90666667rem;
  background: url(../images/header_app.png) center center no-repeat;
  position: absolute;
  background-size: 100% 100%;
  right: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
}
/* 搜索区域 */
.mmm_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: #fff;
  padding: 0.29333333rem 0.26666667rem;
}
.mmm_search .sear {
  float: right;
  width: 1.70666667rem;
  height: 0.8rem;
  background-color: #ff841d;
  border-radius: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.45333333rem;
}
.mmm_search .sear a {
  color: #fff;
}
.mmm_search .input {
  width: 7.54666667rem;
  height: 0.8rem;
}
.mmm_search .input input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 0.32rem;
  padding-left: 0.4rem;
}
/* 登录注册区域 */
.mmm_register {
  height: 0.90666667rem;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f1f1f1;
}
.mmm_register a {
  float: left;
  width: 33.3333%;
  height: 0.90666667rem;
  border-right: 1px solid #c5c5c5;
  text-align: center;
  line-height: 0.90666667rem;
  font-size: 0.34666667rem;
  color: #30230f;
}
.mmm_register .returnTop {
  border: none;
  background: url(../images/top.jpg) 0.26666667rem center no-repeat;
}
/* 底部注册区域 */
.mmm_footer {
  padding-top: 0.45333333rem;
  height: 1.70666667rem;
}
.mmm_footer .app {
  text-align: center;
}
.mmm_footer .app span:nth-child(1) {
  color: red;
}
.mmm_footer .app span:nth-child(2) {
  color: #30230f;
}
.mmm_footer .app span:nth-child(2) {
  color: #c5c5c5;
}
.mmm_footer .net {
  text-align: center;
}
.mmm_container {
  background-color: #fff;
}
.mmm_nav {
  height: 1.06666667rem;
  width: 100%;
  background: url(../images/bg1.png);
  background-size: 100% 1.06666667rem;
  font-size: 0.37333333rem;
  line-height: 1.06666667rem;
  color: #252117;
  padding: 0 0.13333333rem;
}
.mmm_nav a {
  display: inline;
  color: #252117;
}
.mmm_nav .select {
  float: right;
  width: 1.65333333rem;
  height: 0.72rem;
  line-height: 0.77333333rem;
  text-align: center;
  font-size: 0.37333333rem;
  margin-top: 0.16rem;
  color: #252117;
  border-radius: 0.06666667rem;
  box-shadow: -2px 2px 5px 2px #cccccc;
}
/* 详情部分 */
.mmm_good {
  margin-bottom: 0.04rem;
}
.mmm_good .detail {
  height: 6.72rem;
  width: 100%;
  padding: 0.53333333rem;
}
.mmm_good .detail p {
  font-size: 0.48rem;
  text-align: center;
  width: 100%;
  height: 1.86666667rem;
}
.mmm_good .detail .pic {
  width: 4.48rem;
  height: 4rem;
  margin: 0 auto;
}
.mmm_good .btn {
  width: 100%;
  border-top: 2px solid #bc4833;
  border-bottom: 2px solid #bc4833;
  overflow: hidden;
}
.mmm_good .btn a {
  height: 0.93333333rem;
  width: 33.3333%;
  float: left;
  color: #fff;
  line-height: 0.93333333rem;
  text-align: center;
  font-size: 0.37333333rem;
}
.mmm_good .btn a:nth-child(1) {
  background-color: #ffa126;
  border-right: 2px solid #bc4833;
}
.mmm_good .btn a:nth-child(2) {
  background-color: #ffc82f;
  border-right: 2px solid #bc4833;
}
.mmm_good .btn a:nth-child(3) {
  background-color: #ffc82f;
}
.mmm_good .price {
  height: 1.22666667rem;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #b2b2b2;
}
.mmm_good .price .left {
  height: 1.22666667rem;
  width: 2.4rem;
  line-height: 1.22666667rem;
  text-align: right;
  font-size: 0.37333333rem;
  position: absolute;
  left: 0;
  top: 0;
  position: relative;
}
.mmm_good .price .left i {
  width: 0.21333333rem;
  height: 0.21333333rem;
  background: url(../images/slogo.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
}
.mmm_good .price .right {
  height: 1.22666667rem;
  width: 3.70666667rem;
  line-height: 1.22666667rem;
  text-align: left;
  font-size: 0.37333333rem;
  position: absolute;
  right: 0;
  top: 0;
  color: red;
}
.mmm_good .price .right a {
  position: absolute;
  right: 0.13333333rem;
  top: 50%       ;
  transform: translateY(-50%);
  width: 1.49333333rem;
  height: 0.64rem;
  line-height: 0.64rem;
  border-radius: 0.13333333rem;
  background-color: #ff5500;
  color: #fff;
  font-size: 0.37333333rem;
  text-align: center;
}
.mmm_good .tips {
  height: 1.65333333rem;
  width: 100%;
  border-bottom: 0.12rem solid #767676;
  padding: 0.26666667rem;
  color: #908587;
  font-size: 0.32rem;
}
/* 评论部分 */
.mmm_comment .netFri {
  width: 100%;
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  text-align: center;
  font-size: 0.34666667rem;
  color: #252117;
  background-color: #dbdbdb;
}
.mmm_comment ul li {
  border-bottom: 2px solid #d0d0d0;
  padding: 0.42666667rem 0.24rem 0.13333333rem;
}
.mmm_comment ul li .info {
  overflow: hidden;
}
.mmm_comment ul li .info .user {
  float: left;
  color: #656980;
  font-size: 0.26666667rem;
}
.mmm_comment ul li .info .date {
  float: right;
  color: #aaa;
  font-size: 0.26666667rem;
}
.mmm_comment ul li .shop {
  text-align: right;
  color: #656980;
  font-size: 0.32rem;
  margin-bottom: 0.32rem;
}
.mmm_comment ul li .main {
  font-size: 0.32rem;
}
.mmm_comment .more {
  height: 0.85333333rem;
  border-radius: 0.06666667rem;
  font-size: 0.37333333rem;
  line-height: 0.85333333rem;
  text-align: center;
  background-image: linear-gradient(to top, #d7d7d7, #f4f4f4);
  border-bottom: 2px solid #d0d0d0;
  margin: 0.42666667rem 0.24rem 0.69333333rem;
}
.mmm_register,
.mmm_footer {
  background-color: #f1f1f1;
}
