// 基准值
@base:75rem;

// 主题色
@mainColor:#ff841d;

body,div,p,a,i,ul,li,input,h3
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
    display: block;
    font-weight: normal;
}
body {
    font-size:14/@base;
}

img{
   width:100%;
   height:100%;
   display:block;
}
input {
    outline-style: none;
    border:none;
}



