// 引入公共文件
@import 'common';






/* nav区域 */
.mmm_nav {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding-top:40/@base;
    margin-bottom:20/@base;
    margin-top:20/@base;

    a {
        width: 25%;
        height: 170/@base;
        float: left;
        transition:all 1s;
    
        img {
            width:102/@base;
            height:102/@base;
            margin:0 auto;
        }
        p {
            text-align:center;
            line-height:50/@base;
            color:#222222;

            
        }
        &.hidden{
            display:none;
        }
    }


}

/* 商品区域 */
.mmm_goodList {

    .head{
        height:70/@base;
        width: 100%;
        background-color: @mainColor;
        padding:10/@base 20/@base;
        overflow: hidden;

        h3{
            color: #fff;
            font-size:34/@base;
            float: left;
        }
        a {
           width:40/@base; 
           height:40/@base;
           border:1px solid #fff;
           border-radius:50%;
           float: right;
           color: #fff;
           line-height: 35/@base;
           text-align:center;
           font-size:34/@base;
           margin-top:5/@base; 
        }
    }

    .list ul li{
        height:260/@base;
        background-color: #fff;
        border-bottom:1px solid #f1f1f1;
        position: relative;
        padding-left:234/@base;
       
        .goodPic {
            width:234/@base;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            padding:30/@base;
        }
        .goodInfo {
            width: 100%;
            height:260/@base;
            padding:34/@base 28/@base;
            .p {
                height:138/@base;
                color: @fontColor;
                font-size: 28/@base;
                .pinkage{
                    color:@mainColor;
                }
            }

            div {
                color:#b2b1b0;
                .page{
                    float: right;
                }
            }
        }
    }
}


/* 优惠区域 */
.mmm_sale {
   height:86/@base;
   background-color: #fff;
   padding:22/@base 20/@base 0 20/@base; 

   a {
    height:64/@base;
    width:100%;
    background-color: #fff;
    border:1px solid #f1f1f1;
    border-radius: 10/@base;
    line-height:64/@base;
    font-size: 28/@base;
    text-align:center;
    color:#9a98a6;
   }
}

/* 品牌排行区域 */
.mmm_brand {

    .head{
        height:70/@base;
        width: 100%;
        background-color: @mainColor;
        padding:10/@base 20/@base;
        overflow: hidden;
        margin-top:20/@base;
        margin-bottom:54/@base;

        h3{
            color: #fff;
            font-size:34/@base;
            float: left;
        }
        a {
           width:40/@base; 
           height:40/@base;
           border:1px solid #fff;
           border-radius:50%;
           float: right;
           color: #fff;
           line-height: 35/@base;
           text-align:center;
           font-size:34/@base;
           margin-top:5/@base; 
        }
    }
}






